.card {
  padding: 20px;
  width: auto;
}

.example-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  width: 500px !important;
}
