<mat-card style="max-width: 90%;">
  <mat-card-content>
    <div class="example-header">
      <mat-form-field appearance="outline">
        <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> User ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.userId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element; let i = index">

            <button (click)="edit(element.id)" mat-icon-button class="material-icons app-toolbar-menu save-button" matTooltip="Edit"
              color="primary">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
            <button (click)="delete(element.id)" mat-icon-button class="material-icons app-toolbar-menu save-button" matTooltip="Edit"
              color="primary">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5]"
      [length]="totalRecords"
      (page)="$event; onPaginateChange($event)"
      [pageSize]="pageSize"
      showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
